@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app-wrapper{
  /*background-image: url("file:///C:/Users/Chingiz/Desktop/React/project/public/bg.png");*/
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.App-header {
  background-color:rgba(32, 28, 29, 0.92);;
  max-width: 926px;
  margin: 0 auto;
  display: flex;
  color: white;
}

.logo{
  margin-left: 15px;
  cursor: pointer;
}

.App-header>.navbar>ul>li{
  list-style-type: none;
}

.App-header>.navbar>ul{
  display: flex;
}

.App-header>.navbar>ul>li{
  margin-left: 36px;
  cursor: pointer;
}

.navbar{
  margin-left: 90px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: bold;
}

.navbar>ul>li:hover{
  color: #F3E9C6;

}

.active{
  color: #DD2929 !important;
}

.search-button{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 17px;
  gap: 5px;


}

.search-button>form>input{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 29px;
  width: 120px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.search-button>form>button{
  padding-bottom: 3px;
  font-size: 10px;
  height: 35px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}

.App-container{
  background-image: url("file:///C:/Users/Chingiz/Desktop/React/project/public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 926px;
  margin: 0 auto;
}

.main-banner{
  display: flex;
  margin-left: 59px;
}

.left-arrow{
  margin-top: 295px;
  cursor: pointer;
}

.banner{
  margin-top: 117px;
  margin-left: 34px;
  cursor: pointer;
}

.right-arrow{
  margin-top: 295px;
  margin-left: 34px;
  cursor: pointer;
}

.play-button-banner{
  margin-top: 34px;
  display: flex;
  background: #DD2929;
  width: 109px;
  height: 48px;
  border-radius: 10px;
  margin-left: 414px;
  cursor: pointer;
}

.button-content{
  color: white;
  display: flex;
  padding-top: 9px;
  padding-left: 16px;
}

.button-content>img{
  padding-top: 3px;
}

.button-content>h3{
  padding-top: 4px;
  margin-left: 13px;
}
h3{
  margin: 0;
}

.rec-block{
  display: block;
  width: 150px;
  height: 130px;
  text-align: center;
}

.rec-block>span{
  color: #201C1DEB;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.rec-block>img{
  cursor: pointer;
}

.movies-recommendation>h2{
  color: white;
  margin-left: 1.2%;
}

.movies-recommendation{
  margin: 0 40px;
}

.movie-list{
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

.movie-list>li{
  list-style-type: none;
}

.App-footer{
  max-width: 926px;
  background-color:#201C1DEB;
  margin: 0 auto;
  display: flex;
}

.App-footer>.logo{
  margin-top: 10px;
  margin-left: 90px;
  cursor: pointer;
}

.title{
  margin-top: 60px;
  margin-left: 159px;
  color: white;
  font-size: 15px;
}

.title>p{
  margin: 0;
}

.title>p>span{
  color: #F3E9C6;
  cursor: pointer;
}
.social-media{
  margin-left: 135px;
  margin-right: 85px;
  color: white;
  font-size: 20px;
  width: 150px;
  text-align: center;
  padding-top: 25px;
}

.social-media-list{
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
}

.social-media-list>li{
  cursor: pointer;
}
li{
  list-style-type: none;
}

.App-register{
  background-image: url("file:///C:/Users/Chingiz/Desktop/React/project/public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 926px;
  margin: 0 auto;
}

.reg-container{
  display: flex;
}
.content-div{
  margin-top: 15%;
  margin-bottom: 35%;
  color: white;
  display: block;
  width: 470px;
  height: 300px;
  margin-left: 24%;
  background: rgba(0, 0, 0, 0.67);;
  border-radius: 20px;
}

.reg-title{
  margin-left: 45%;
  padding-top: 3%;
  text-align: center;
  width: 60px;
  border-bottom: 4px solid #DD2929;
}

.reg-email{
  margin-left: 14%;
  margin-top: 40px;
}

.reg-email>input{
  border-radius: 20px;
  width: 150px;
  height: 25px;
  margin-left: 20%;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.reg-password{
  margin-left: 14%;
  margin-top: 22px;
}

.reg-password>input{
  border-radius: 20px;
  width: 150px;
  height: 25px;
  margin-left: 12%;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}
.reg-help-buttons{
  font-size: 12px;
  display: flex;
  margin-top: 30px;
  margin-left: 15%;
}

.reg-help-buttons>.forgot-password{
  margin-left: 30%;
}

.reg-help-buttons>.remember-me{
  margin-bottom: 2px;
}

.reg-help-buttons>.remember-me>input{
  border-radius: 50%;
}
.reg-sign-in-button{
  text-align: center;
  background-color: #DC357F;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 30%;
}

.reg-sign-in-button{
  cursor: pointer;
}

.reg-sign-in-button>h3{
  padding-top: 2px;
}

.App-movies-page-navbar{
  background-image: url("file:///C:/Users/Chingiz/Desktop/React/project/public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 926px;
  margin: 0 auto;
  height: 100vh;
}

.movies-page-navbar-title{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
}